newFile.txt
log/
simple.html.orig
simple_BACKUP_13628.html
simple_BACKUP_17040.html
simple_BACKUP_5328.html
simple_BASE_13628.html
simple_BASE_17040.html
simple_BASE_5328.html
simple_LOCAL_13628.html
simple_LOCAL_17040.html
simple_LOCAL_5328.html
simple_REMOTE_13628.html
simple_REMOTE_17040.html
simple_REMOTE_5328.html                                                      